<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link th:href="@{/myStyle.css}" rel="stylesheet">
    <title>All Attendance</title>
</head>

<body class="m-4">
    <table class='hdx'><tbody><tr>
        <td style="width: 90%;">
            <span th:text="${appName}" class='hdline'></span>
        </td>
        <td>
            <img th:src="@{/logo7587.jpg}" width="64" height="40">
        </td>
    </tr></tbody></table>
    <hr>
    <a th:href="@{/}"><input type=button class="btn btn-primary btn-sm" value="Current Check-Ins"></a>
    <a th:href="@{/weeklyHours}"><input type=button class="btn btn-primary btn-sm" value="Weekly Hours"></a>
    <hr>
    <table class="table table-hover table-bordered">
        <tr style="border-bottom:1px solid;">
            <th colspan="5">Full Attendance Records</th>
        </tr>
        <tr style="border-bottom:1px solid;">
            <th class="hiddenRow">ID</th>
            <th>Name</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Event</th>
            <th>Time Spent (Hrs)</th>
        </tr>
        <tr th:each="u : ${allAttendance}">
            <td th:text="${u.name}">name</td>
            <td th:text="${u.timeIn}">timeIn</td>
            <td th:text="${u.timeOut}">timeOut</td>
            <td th:text="${u.event}">event</td>
            <td th:text="${u.timeSpent}">timeSpent</td>
        </tr>
    </table>
    <!-- <form method="post" th:action="@{/}"><input type="checkbox" name="checkInsOnly"
            value="true"><input type=submit class="btn btn-primary" value="To todaysCheckIns"></form> !-->


</body>

</html>