<html>

<head th:insert="~{common :: pagehead('Weekly Hours')}"></head>

<body class="m-4">

    <table th:replace="~{common :: toptable}"></table>

    <!-- nav header start -->
    <div th:replace="~{common :: navhead}"></div>
    <!-- nav header end -->

    <div>
        <form method="post" action="#" th:action="@{/report}" th:object="${reportRequest}">
            <table class="table table-sm w-75">
                <tr>
                    <th colspan="4">Attendance Summary</th>
                </tr>
                <tr style="vertical-align: middle;">
                    <td>Start Date: <input type="date" th:field="*{start}"></td>
                    <td>End Date: <input type="date" th:field="*{end}"></td>
                    <td>
                        <input type=submit class="btn btn-primary btn-sm" value="Submit">
                    </td>
                    <td>
                        <a th:href="@{'/downloadsummary/' + *{start} + '/' + *{end}}">Download</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <table class="table table-hover table-bordered">
        <thead class="bg-info">
            <tr>
                <th>Name</th>
                <th>Total Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u : ${reportData}">
                <td th:text="${u.name}">name</td>
                <td th:text="${u.timeSpent}">timeSpent</td>
            </tr>
            <tr>
                <th>Total Team Hours:
                <td th:text="${total}"></td>
                </th>
            </tr>
        </tbody>
    </table>
    <!--<form method="post" action="#" th:object="${date}">
        <input type="date">
        <input type="submit">
    </form> !-->


</body>

</html>