<html>

<head th:insert="~{common :: pagehead('Confirm Check')}"></head>

<body class="m-4">
    <table th:replace="~{common :: toptable}"></table>

    <!-- nav header start -->
    <div th:replace="~{common :: navhead}"></div>
    <!-- nav header end -->


    <table class="table table-hover table-bordered">
        <tr class="hiddenRow">
            <th>Id: </th>
            <td th:text="${scanResult.id}"></td>
        </tr>
        <th>Check In/Out Confirmed</th>
        <tr>
            <th>Name: </th>
            <td th:text="${scanResult.name}"></td>
        </tr>
        <tr>
            <th>Time In: </th>
            <td th:text="${#temporals.format(scanResult.timeIn, 'MM/dd/yyyy hh:mm a')}"></td>
        </tr>
        <tr>
            <th>Time Out: </th>
            <td th:text="${#temporals.format(scanResult.timeOut, 'MM/dd/yyyy hh:mm a')}"></td>
        </tr>
        <tr>
            <th>Event: </th>
            <td th:text="${scanResult.event}"></td>
        </tr>
    </table>
</body>

<a th:href="@{/}"><input type=button class="btn btn-primary btn-sm" value="Current Check-Ins"></a>

</html>