<html>

<head th:insert="~{common :: pagehead('Current Check-Ins')}"></head>

<body class="m-3">

    <table th:replace="~{common :: toptable}"></table>
    
    <!-- nav header start -->
    <div th:replace="~{common :: navhead}"></div>
    <!-- nav header end -->

    <table class="table table-hover table-bordered">
        <tr>
            <th>Members currently checked in today: </th>
        </tr>
        <tr>
            <th>NAME</th>
        </tr>
        <tr th:each="u : ${currentlyCheckedIn}">
            <td th:text="${u.name}">name</td>
        </tr>
    </table>

</body>

</html>