<html>

<head th:insert="~{common :: pagehead('Current Check-Ins')}"></head>

<body class="m-3">

    <table th:replace="~{common :: toptable}"></table>
    
    <!-- nav header start -->
    <div th:replace="~{common :: navhead}"></div>
    <!-- nav header end -->

    <div class="mb-3">
        <strong>Members currently checked in today:</strong>
    </div>
    <table class="table table-sm table-hover table-bordered w-70">
        <thead class="bg-info">
        <tr>
            <th>Name</th>
            <th>Time In</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${currentlyCheckedIn}">
            <td th:text="${u.name}">name</td>
            <td th:text="${#temporals.format(u.timeIn, 'MM/dd/yyyy hh:mm a')}">timeIn</td>
        </tr>
        </tbody>
    </table>

</body>

</html>