<html>

<head th:insert="~{common :: pagehead('Record Attendance')}"></head>

<body class="m-4">
    <table th:replace="~{common :: toptable}"></table>

    <!-- nav header start -->
    <div th:replace="~{common :: navhead}"></div>
    <!-- nav header end -->

    <form method="post" action="#" th:action="@{/confirmCheck}" th:object="${scanResult}">
        <table class="table table-hover table-bordered">
            <tr>
                <h1 th:text="${isCheckIn == true}? 'Checking In' : 'Checking Out'"></h1>
            </tr>
            <tr class="hiddenRow">
                <th>Id:
                    <input type="text" th:field="*{id}">
                </th>
            </tr>
            <tr>
                <th>
                    Name:
                </th>
                <td>
                    <input type="text" th:field="*{name}">
                </td>
            </tr>
            <tr>
                <th>
                    TimeIn:
                </th>
                <td>
                    <input type="text" th:field="*{timeIn}">
                </td>
            </tr>
            <tr>
                <th>
                    TimeOut:
                </th> 
                <td>
                    <input type="text" th:field="*{timeOut}">
                </td>
            </tr>
            <tr>
                <th>
                    Event:
                </th>
                <td>
                    <input type="text" th:field="*{event}">
                </td>
        </table>

        <input type=submit class="btn btn-primary" value="Confirm?" onclick="">

    </form>
    <!-- html form -->

</body>

</html>