<html>

<head th:insert="~{common :: pagehead('Weekly Hours')}"></head>

<body class="m-4">

    <table th:replace="~{common :: toptable}"></table>

    <!-- nav header start -->
    <div th:replace="~{common :: navhead}"></div>
    <!-- nav header end -->

    <table class="table table-hover table-bordered">
        <thead class="bg-info">
            <tr>
                <th>Individual Hours (Current Week) </th>
                <th><a th:href="@{/dwnld-weeklyhours}">Download</a></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>NAME</th>
                <th>Total Hours</th>
            </tr>
            <tr th:each="u : ${weeklyHours}">
                <td th:text="${u.name}">name</td>
                <td th:text="${u.timeSpent}">timeSpent</td>
            </tr>
            <tr>
                <th>Total Team Hours:
                <td th:text="${total}"></td>
                </th>
            </tr>
        </tbody>
    </table>
    <!--<form method="post" action="#" th:object="${date}">
        <input type="date">
        <input type="submit">
    </form> !-->


</body>

</html>